<div *ngFor="let item of datedTransactionsData">
  <mat-card class="data-card">
    <mat-card-content>
      <mat-form-field>
        <h3>Datum</h3>
        <input matInput placeholder="Datum" [(ngModel)]="item.Date"/>
      </mat-form-field>
      <mat-form-field>
        <h3>Produktnamn</h3>
        <input matInput placeholder="Produktnamn" [(ngModel)]="item.Product"/>
      </mat-form-field>
      <mat-form-field>
        <h3>Typ av transaktion</h3>
        <input matInput placeholder="Typ av transaktion" [(ngModel)]="item.Type"/>
      </mat-form-field>
      <mat-form-field>
        <h3>Stad</h3>
        <input matInput placeholder="Färdigvarulager" [(ngModel)]="item.Location"/>
      </mat-form-field>
      <mat-form-field>
        <h3>Antal</h3>
        <input matInput placeholder="Antal" [(ngModel)]="item.Quantity"/>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="buttons" routerLink="/datedtransactions">
      <button mat-raised-button class="updatebtn" mat-button (click)="updateDatedTransaction(item)"><mat-icon>update</mat-icon>
        Uppdatera transaktion</button>
      <button mat-raised-button class="deletebtn" mat-button (click)="deleteDatedTransaction(item._id)"><mat-icon>delete</mat-icon>
        Ta bort transaktion</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="datbuttons">
  <div class="container-button">
    <button mat-raised-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>Lägg till en ny transaktion
    </button>
  </div>
</div>
