<mat-card class="mat-card">
  <h2>Lägg till ett nytt lagersaldo</h2>
  <mat-form-field>
    <input matInput placeholder="Produktnamn" [(ngModel)]="data.Product" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Antal" [(ngModel)]="data.Balance" />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Färdigvarulager"
      [(ngModel)]="data.Warehouse"
    />
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>
      <mat-icon>add</mat-icon>Lägg till
    </button>
    <button mat-raised-button (click)="onNoClick()">
      <mat-icon>cancel</mat-icon> Avbryt
    </button>
  </div>
</mat-card>
