<mat-toolbar color="primary">
  <mat-icon>home</mat-icon>
  <span>Päron AB | Lagerhanteringssystem</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <button mat-button>Produkter</button>
    </div>

    <div class="container">
      <button mat-button>Färdigvarulager</button>
    </div>

    <div class="container">
      <button mat-button>Lagersaldon</button>
    </div>

    <div class="container">
      <button mat-button>Inleveranser</button>
    </div>

    <div class="container">
      <button mat-button>Utleveranser</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
