<mat-toolbar color="primary">
  <mat-icon>home</mat-icon>
  <span>Päron AB | Lagerhanteringssystem</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <button mat-button routerLink="/products"><h2>Produkter</h2></button>
    </div>

    <div class="container">
      <button mat-button routerLink="/warehouses"><h2>Färdigvarulager</h2></button>
    </div>

    <div class="container">
      <button mat-button routerLink="/inventoryitems"><h2>Lagersaldon</h2></button>
    </div>

    <div class="container">
      <button mat-button routerLink="/initialbalancetransactions">
        <h2>Transaktioner</h2>
      </button>
    </div>

    <div class="container">
      <button mat-button routerLink="/datedtransactions">
        <h2>Transaktioner med datum</h2>
      </button>
    </div>
  </div>
</div>

<div class="data">
  <router-outlet></router-outlet>
</div>

