<mat-toolbar [@fadeInOut]>
  <mat-icon>home</mat-icon>
  <span>Päron AB | Lagerhanteringssystem</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container" [@fadeInOut]>
      <button mat-raised-button routerLink="/products"><h2 class="collectionsbtn">Produkter</h2></button>
    </div>

    <div class="container" [@fadeInOut]>
      <button mat-raised-button routerLink="/warehouses"><h2 class="collectionsbtn">Färdigvarulager</h2></button>
    </div>

    <div class="container" [@fadeInOut]>
      <button mat-raised-button routerLink="/inventoryitems"><h2 class="collectionsbtn">Lagersaldon</h2></button>
    </div>

    <div class="container" [@fadeInOut]>
      <button mat-raised-button routerLink="/initialbalancetransactions"><h2 class="collectionsbtn">Transaktioner</h2></button>
    </div>

    <div class="container" [@fadeInOut]>
      <button mat-raised-button routerLink="/datedtransactions"><h2 class="collectionsbtn">Daterade transaktioner</h2></button>
    </div>
  </div>
</div>

<!-- Div som innehåller router-outlet som i sin tur innehåller det som finns i den komponent som man för närvarande är routad till -->
<div class="data" [@fadeInOut]>
  <router-outlet></router-outlet>
</div>

